<app-header/>
<div class="title">
  <h1> Perfil</h1>
</div>
<mat-card class="matcard">
  <mat-list>
  <mat-list-item>
    <span matListItemTitle>Nome</span>
    <span matListItemLine>Ricardo da Silva Junior</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Saldo</span>
    <span matListItemLine>R$ 35000,00</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Telefone</span>
    <span matListItemLine>+55 11 9 99999999</span>
  </mat-list-item>
</mat-list>
</mat-card>
