.matcard {
  padding: 100px;
  width: 50vw;
  height: 50vh;
  margin-left: 25%;
}

.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
