<main class="main">
  <div class="content">
    <div class="left-side">
      <img src="../assets/toro.png" class="toro-img"/>
      <h1>Desafio técnico</h1>
      <h1>Toro investimentos</h1>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <mat-card class="matcard">
        <h1>Login</h1>
        <form class="form">
          <mat-form-field class="email-input" type='email'>
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="senha-input">
          <mat-label>Senha</mat-label>
            <input matInput>
          </mat-form-field>
        </form>
          <button mat-button color="primary" routerLink="/dashboard">
            Entrar
          </button>
      </mat-card>
    </div>
  </div>
</main>
